.project{
    height: 300px;
    width: 400px;
    margin: 80px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    box-shadow: 5px 10px 8px #000000;
}

.project h3{
    color: var(--blood-orange);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}

.card-header{
    position: relative;
    margin: -3.5rem 0 1.5rem 0;
    transition: all 0.5s ease-in-out;
    color: white;
}

.p1{
    background-image: url("../../public/workday-scheduler.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}

.p2{
    background-image: url("../../public/weather-dashboard.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}

.p3{
    background-image: url("../../public/restroom-finder.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.p4{
    background-image: url("../../public/weather-dashboard.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.p5{
    background-image: url("../../public/weather-dashboard.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.p6{
    background-image: url("../../public/weather-dashboard.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}